<div class="product_type">
	
</div>

{% schema %}
  {
    "name": "Product Type",
    "settings": [
		{
          "type": "product",
          "id": "product_type",
          "label": "Product Type"
		}
	],
	"presets": [
		{
		 "name": "Product Type"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
