<div class="product_type">
  {% for block in section.blocks %}
  {% assign product = block.settings.product_type %}
            <br>{{ product.title }}
        {% endfor %}
	
  
</div>

{% schema %}
  {
    "name": "Product Type",
    "settings": [
		{
          "type": "image_picker",
          "id": "product_image_picker",
          "label": "Product Type"
		}
	],
	"blocks": [
      {
        "type": "product-type",
        "name": "Product Type",
        "settings": [
          {
            "id": "product_type",
            "type": "product",
            "label": "Text"
          }
        ]
      }
    ],
	"presets": [
		{
		 "name": "Product Type"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
